.fu-review {
  text-align: center;
  padding-bottom: 20px;
}
.fu-talkbubble {
  position: relative;

  display: inline-block;

  max-width: 250px;
  min-height: 1.5em;
  margin-bottom: 15px;
  padding: 10px;

  color: #666;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f8f8f8;
}
.fu-talkbubble:before {
  position: absolute;
  z-index: 0;
  bottom: -17.5px;
  left: calc(50% - 3px) ;

  display: block;

  width: 0;

  content: '';

  border-width: 18px 18px 0;
  border-style: solid;
  border-color: #f8f8f8 transparent;
}
.background-image-review1 {
  width: 80px;
  height: 80px;
  margin: 10px auto;

  border: 3px solid #386a93;
  border-radius: 42px;
  background-image: url('/global-assets/fu20164/dist/landing/images/visual-landing/picture3.jpg');
  background-size: cover;
}
.background-image-review2 {
  width: 80px;
  height: 80px;
  margin: 10px auto;

  border: 3px solid #386a93;
  border-radius: 42px;
  background-image: url('/global-assets/fu20164/dist/landing/images/visual-landing/picture1.jpg');
  background-size: cover;
}
.fu-review-content {
  font-size: 12px;

  margin: 0;
  padding-bottom: 10px;

  text-align: center;
  word-break: break-all;
}
.fu-review-employee {
  font-size: 14px;
  font-weight: 600;

  text-align: center;
}
.fu-review-company {
  font-size: 14px;
  font-weight: 600;

  color: #386a93;
}
.fu-review-container {
  margin: 30px 0px;
}
