
// ------------------------------------- CAREER CENTER PAGE --------------------------------------
.fu-careercenter-title h1 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.fu-careercenter-title p {
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}
.fu-careercenter-container span {
    font-size: 12px;
}
ul.fu-careercenter-list {
    margin-bottom: 60px;
    padding: 0px;
    list-style-type: none;
}
.fu-careercenter-list li {
    margin-bottom: 15px;
    margin-top: 15px;
}
.fu-careercenter-list h2, .fu-careercenter-list h3, .fu-careercenter-list h4, .fu-careercenter-list h5, .fu-careercenter-list h6 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
}
.fu-careercenter-list h4:first-child {
	margin-bottom: 50px;
}
.fu-careercenter-list p {
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}
.fu-banner-wfb-container {
	margin-top: 60px;
    margin-bottom: 60px;
}
.fu-banner-wfb {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    overflow: hidden;
}
.fu-careercenter-disclaimer {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    font-style: italic;
}
